

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/forgt.css ">
</head>

<body>
    <div class="meucontainer">
        <div class="center">
            <h1 class="text-center">Cadastro concluido :)</h1>
            <p>Entre em contato com os administradores para que seja validada a sua conta!!.</p>
        </div>
    </div>
</body>

</html>