@model IEnumerable<LocalBus.Models.Ponto>


 

<html>
    <head>

         <meta charset="UTF-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <title>Document</title>
         <script src="~/js/mapa.js"></script>
         <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap' async defer></script>
     </head>
     <div class="container">
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-success btn-lg" onclick="iniciarjogo()">Buscar</button>

                    <select id="nivel">
                        <option value="">Selecione a escola</option>
                        <option value="galinha">.......</option>
                        <option value="Normal">........</option>
                        <option value="Chuck">.......</option>
                        <option value="brabo">...........</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <p></p>

<body>
    <div id="myMap" style="position:relative;width:1100px;height:500px;"></div>

 

    @{
        double[] vetlatidude = new double[Model.Count()];
        double[] vetlongitude = new double[Model.Count()];
        int cont = 0;
     }

    @foreach (var item in Model)
    {
        
        vetlatidude[cont] = item.latitudePonto; 
        vetlongitude[cont] = item.LongitudePonto;
        cont++;
    }

   @* @{
        for (int i = 0; i < Model.Count(); i++)
        {
            <h1>@vetlatidude[i]</h1>
            <h1>@vetlongitude[i]</h1>
        }
    }*@
    
       

 

 
   <script>
       

        var lat ='@vetlatidude[0]';
        var long='@vetlongitude[0]';

        convtlat = lat.replace(/,/gi,".")
        convtlong = long.replace(/,/gi,".")

      getcoordenadas(convtlat,convtlong)
        
       

    </script>
   
</body>
</html>