@model LocalBus.Models.Ponto

<div class="text-center">

    <h1>Create</h1>

    <h4>Ponto</h4>

</div>
<div class="row">
    <div class="col-md-4 " style="margin-left:150px">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriçãoPonto" class="control-label"></label>
                <input asp-for="DescriçãoPonto" class="form-control" />
                <span asp-validation-for="DescriçãoPonto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AtivoPonto" class="control-label"></label>
                <input type="checkbox" asp-for="AtivoPonto" />
                <span asp-validation-for="AtivoPonto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="latitudePonto" class="control-label"></label>
                <input asp-for="latitudePonto" class="form-control" id='latitude' />
                <span asp-validation-for="latitudePonto" class="text-danger"></span>

            </div>
            <div class="form-group">

                <label asp-for="LongitudePonto" class="control-label"></label>
                <input asp-for="LongitudePonto" class="form-control" id='longitude' />
                <span asp-validation-for="LongitudePonto" class="text-danger"></span>


            </div>




            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="~/js/mapa.js"></script>
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AkclvbgfjdRI43pyQ7TM48Mx0Gz8LpXOJzYsm8-T3b7fFOt2n-GMm0USIPHg-YLu&setLang=pt&setMkt=PT-BR' async defer></script>
    <link rel="stylesheet" href="~/css/TableStyle.css" asp-append-version="true" />
</head>
<body onload="GetMap()">

    <div id='searchBoxContainer' style="margin-left:800px;margin-top:-390px"><input type='text' id='searchBox' /></div>
    <div id="myMap" style="position:absolute;width:500px;height:310px; margin-left:800px">
    </div>
    <p> </p>

    <script>

             function GetMap() {
                 var map = new Microsoft.Maps.Map('#myMap', { center: new Microsoft.Maps.Location(-22.489303078308875,-48.54630861383559), zoom: 13 });
                 map.setView({ mapTypeId: Microsoft.Maps.MapTypeId.aerial}); //seta a visualização do mapa
          
                 
                 Microsoft.Maps.Events.addHandler(map, 'click', function (e) { Get_latitude_and_Get_longitude(e); }); //pega o ponto com o click
                      function Get_latitude_and_Get_longitude(map)
                      {     
                             

                             var latitude  =  map.location.latitude;
                             var longitude =  map.location.longitude;
                             let lativirgula = latitude.toString().replace(".",",")
                             let longivirgula = longitude.toString().replace(".",",")
                        

                        

                           document.getElementById("latitude").value =  lativirgula;
                           document.getElementById("longitude").value = longivirgula;
                           
                      }
                   
                    
                


                 Microsoft.Maps.loadModule('Microsoft.Maps.AutoSuggest', function () { //faz o algoritmo de busca do lugar
                  var options = { maxResults: 4,map: map};
                  var manager = new Microsoft.Maps.AutosuggestManager(options);
                      manager.attachAutosuggest('#searchBox', '#searchBoxContainer', selectedSuggestion);});

                      function selectedSuggestion(suggestionResult) {
                         map.entities.clear();
                         map.setView({ bounds: suggestionResult.bestView });

                         var pushpin = new Microsoft.Maps.Pushpin(suggestionResult.location);
                         map.entities.push(pushpin);

                             var latitude  = suggestionResult.location.latitude;
                             var longitude =  suggestionResult.location.longitude;
                             var lativirgula = latitude.toString().replace(".",",")
                             var longivirgula = longitude.toString().replace(".",",")
                             document.getElementById("latitude").value = lativirgula //pega a coordenada e transfera para o label
                             document.getElementById("longitude").value = longivirgula
                      }

        }
    </script>
</body>
</html>



