@using Microsoft.AspNetCore.Identity
@model LocalBus.Models.Escola

@inject UserManager<MyUser> UserManager
<h4>Escola</h4>
<hr />

<head>
 <link href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.22.2/sweetalert2.min.css" rel="stylesheet"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.22.2/sweetalert2.min.js"></script>
</head>
<div class="row">
    <div class="col-md-6">
        <form asp-action="Perfil">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EscolaId" />
            <div class="form-group">
                <label asp-for="NomeEscola" class="control-label"></label>
                <input asp-for="NomeEscola" class="form-control" />
                <span asp-validation-for="NomeEscola" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelefoneDaEscola" class="control-label"></label>
                <input asp-for="TelefoneDaEscola" class="form-control" />
                <span asp-validation-for="TelefoneDaEscola" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmailDaEscola" class="control-label"></label>
                <input asp-for="EmailDaEscola" class="form-control" />
                <span asp-validation-for="EmailDaEscola" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodigoDaEtec" class="control-label"></label>
                <input asp-for="CodigoDaEtec" class="form-control" />
                <span asp-validation-for="CodigoDaEtec" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MyUserId" class="control-label"></label>
                <input asp-for="MyUserId" class="form-control" readonly />
                <span asp-validation-for="MyUserId" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" onclick="Sucesso()"/>

            </div>
        </form>
    </div>
    <div class="col-md-6">
    <table border="0" width="100%">
        <tr>
            <td>
             <form method="post" enctype="multipart/form-data" asp-controller="Account" asp-action="UploadFiles">
                 <img src="~/Images/Escolas/Enviarimg.png" width="200" height="150" />
                 <div class="form-group">
                     <div class="col-md-10">
                         <p><b>Selecione uma foto de perfil</b></p>
                         <input type ="file" name="file" multiple class="button btn-outline-primary" />
                     </div>
                 </div>

                 <div class ="form-group">
                     <div class="col-md-10">
                         <p></p>
                         <input type="submit" value="Inserir Foto" class="button btn-outline-primary" />
                     </div>
                 </div>
             </form>
            </td>
        </tr>
    </table>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    function Sucesso(){
   swal ( " Bom trabalho! " , " Você clicou no botão! " , " sucesso " ) 
  }
})

</script>
<script src = "https://unpkg.com/sweetalert/dist/sweetalert.min.js " > </script> 