<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/MenuAdmin.css" />
    <link rel="stylesheet" href="~/css/stiloAdmin.css" />
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</head>

<body class="body">
    <div class="meucontainer">
        
        <div class="left">
          <div class="botaoleft">
            <button type="button" id="sidebarCollapse" class="btn btn-info cordobotao">
                <i class="fas fa-align-left"></i>
                <span></span>
            </button>
          </div>
            <div class="wrapper">
                <nav id="sidebar">
                    <div id="dismiss">
                        <i class="fas fa-arrow-left"></i>
                    </div>
                    <div class="sidebar-header">
                        <h3 class="cores">Opções</h3>
                        <p class="cores">__________________</p>
                    </div>
                    <ul class="list-unstyled barrinha">
                        <li>
                            <a class="barrinha" asp-area="Administrador" asp-action="Index" asp-controller="AdminPontos"> Novo Ponto</a>
                        </li>
                        <li>
                            <a class="barrinha">Gestão</a>
                        </li>
                        <li>
                            <a class="barrinha">Arquivos</a>
                        </li>
                        <li>
                            <a class="barrinha">Anotações</a>
                        </li>
                        <li>
                            <a class="barrinha">Balanceamento</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="containerlefth">
                <div class="itemslefth1">
                    <h1>Bem vindo ao centro de controle</h1>
                    <p>Agora você já pode adicionar  novos pontos clicando no icone menu lateral em seguida "novoponto"</p>
                </div>

                <div class="itemslefth2"><a href="https://www.bing.com/maps" target="_blank"><img src="~/Images/LayoutAdministrador/onibuscolorido180x140.jpg" alt=""></a><p>Binga Maps</p></div>
                <div class="itemslefth2"><a href="https://www.udemy.com/" target="_blank"><img src="~/Images/LayoutAdministrador/udemy.jpg" alt=""></a><p>Plataforma de Cursos Online </p></div>
            </div>
        </div>
        <div class="rigth">
            <div class="containerrigth">
                <div class="itemsrigth"><img src="~/Images/LayoutAdministrador/maorigt.png" alt=""></div>
            </div>
        </div>
    </div>


    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="~/js/manuadmin.js"></script>

</body>
</html>
