<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/MenuAdmin.css" />
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</head>

<body class="body">

       <div id="content">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span></span>
                    </button>
                </div>
        </div>
    <div class="wrapper">
     
        <!-- Sidebar -->
        <nav id="sidebar">
             <div id="dismiss">
            <i class="fas fa-arrow-left"></i>
            </div>
            <div class="sidebar-header">
                <h3>Opções</h3>
            </div>
            <ul class="list-unstyled barrinha">
                <p>Configurações do mapa</p>
                <li class="">
                    <a class="barrinha" asp-area="Administrador" asp-action="Index" asp-controller="AdminPontos"> Novo Ponto</a></li>
                </li>
            </ul>
        </nav>
    </div>
   
        <input id="menu__toggle" type="checkbox" />
    

    <div class="container-flex">
        <div class="col-md-6 textoapresentacao">
            <h1>Bem-vindo </h1>
            <p>Agora você já pode criar novos pontos e organizar da melhor forma possivel o trajeto dos ônibus.</p>

            <div class="card-body card2 col-md-3" style="width: 15rem; background-color:#fff">
                <img class="card-img-top" src="/Images/LayoutAdministrador/udemy.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title" style="color:black; font-weight: bold">Ûdemy</h5>
                    <p class="card-text">Plataforma de cursos online!</p>
                    <a href="#" class="btn btn-primary">Visitar</a>
                </div>
            </div>
            <div class="card-body card2 col-md-3" style="width: 15rem; margin-inline:55px;">
                <img class="card-img-top" src="/Images/LayoutAdministrador/onibuscolorido180x140.jpg" alt="Imagem de capa do card">
                <div class="card-body">
                    <h5 class="card-title" style="color:black; font-weight: bold">Bing Maps</h5>
                    <p class="card-text">Mapa usado no projeto</p>
                    <a href="#" class="btn btn-primary">Saiba mais!</a>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <img class="img" src="~/Images/LayoutAdministrador/mao.png" alt="Logo" />
        </div>
    </div>
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
     <script src="~/js/manuadmin.js"></script>
       
</body>
</html>
