<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/MenuAdmin.css" />
</head>

<body class="body">

            <input id="menu__toggle" type="checkbox" />
        <label class="menu__btn" for="menu__toggle">
            <span></span>
        </label>

        <ul class="menu__box">
            <li><a class="menu__item barrinha" asp-area="Administrador" asp-action="Index" asp-controller="AdminPontos"> Novo Ponto</a></li>
        </ul>
    <div class="container-flex">
            <div class="col-md-6 textoapresentacao">
                <h1>Bem-vindo</h1>
                <p>Agora você já pode criar novos pontos e organizar da melhor forma possivel o trajeto dos ônibus</p>
            </div>
            <div class="col-md-6 border ">
               <img class="img" src="~/Images/LayoutAdministrador/mao.png" alt="Logo" /> 
            </div>
    </div>
</body>
</html>
