<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/MenuAdmin.css" />
    <link rel="stylesheet" href="~/css/stiloAdmin.css" />
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
</head>

<body class="body">
     <div class="botaoleft">
            <button type="button" id="sidebarCollapse" class="btn btn-info cordobotao">
                <i class="fas fa-align-left"></i>
                <span></span>
            </button>
        </div>
        <div class="wrapper">
            <nav id="sidebar">
                <div id="dismiss">
                    <i class="fas fa-arrow-left"></i>
                </div>
                <div class="sidebar-header">
                    <h3 class="cores">Opções</h3>
                    <p class="cores">__________________</p>
                </div>
                <ul class="list-unstyled barrinha">
                    <li>      
                        <a class="barrinha" asp-area="Administrador"  asp-action="Create" asp-controller="AdminPontos"> Novo Ponto</a>
                    </li>
                    <li>
                        <a class="barrinha" asp-area="Administrador" asp-action="Index" asp-controller="AdminPontos"> Registro de Pontos</a>
                    </li>
                    <li>
                        <a class="barrinha">Arquivos</a>
                    </li>
                    <li>
                        <a class="barrinha">Anotações</a>
                    </li>
                    <li>
                        <a class="barrinha">Balanceamento</a>
                    </li>
                </ul>
            </nav>
        </div>
    <div class="meucontainer">
        
        <div class="containerlefth">
            <div class="itemslefth1">
                <h1>Bem vindo ao centro de controle</h1>
                <p>Agora você já pode adicionar  novos pontos clicando no card abaixo "<b>novo ponto"</b>,assim como ver os já cadastrados em <b>"Registro de Pontos"</b> ou no icone acima "<b>menu lateral</b>".</p>
            </div>

            <div class="itemslefth2"><a asp-area="Administrador" asp-action="Create" asp-controller="AdminPontos" ><img src="~/Images/LayoutAdministrador/onibuscolorido180x140.jpg" alt=""></a><p>Novo Ponto</p></div>
            <div class="itemslefth2"><a asp-area="Administrador"  asp-action="Index" asp-controller="AdminPontos"><img src="~/Images/LayoutAdministrador/pngtree-maps-icon-design-png-image_2156485.jpg" alt=""></a><p>Registro de Pontos </p></div>
        </div>
        <div class="rodape"></div>
    </div>


    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="~/js/manuadmin.js"></script>

</body>
</html>
