@model IEnumerable<EscolaPonto>
 
<!DOCTYPE html>
<html>
<head>
         <meta charset="UTF-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <script src="~/js/mapa.js"></script>
         <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AkclvbgfjdRI43pyQ7TM48Mx0Gz8LpXOJzYsm8-T3b7fFOt2n-GMm0USIPHg-YLu&setLang=pt&setMkt=PT-BR' async defer></script>
</head>
<body onload = "GetMap()">

  <a class="btn-link" asp-area="Usuario" asp-controller="Aluno" asp-action="Index"> Voltar</a>

<div id="myMap" style="position:relative;width:1100px;height:500px;"></div>
  
<script>
    
        function GetMap() {
            let coordenadas = @Html.Raw(Json.Serialize(Model.Select(x => new { x.Ponto.latitudePonto,x.Ponto.LongitudePonto,x.Ponto.Nome} ).ToArray()));    
  
           
            console.log(coordenadas)

            var map = new Microsoft.Maps.Map('#myMap', { center: new Microsoft.Maps.Location(-22.489303078308875,-48.54630861383559), zoom: 13 });
          
            map.setView({
                mapTypeId: Microsoft.Maps.MapTypeId.aerial
            });
            var num = 3
            
                for (var i = 0; i < coordenadas.length  ; i++) {
                     var pushpin = new Microsoft.Maps.Location(coordenadas[i].latitudePonto, coordenadas[i].longitudePonto)
                     var pushpin2 = new Microsoft.Maps.Pushpin(pushpin,{
                     })
                     map.entities.push(pushpin2);
                 }
        }  
</script>
</body>
</html>