
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LocalBus.styles.css" asp-append-version="true" />

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-0">
        <div class="container-fluid">


            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">


                <ul class="navbar-nav flex-grow-1" style="margin-top:-5px">

                    <li class="navbar-brand">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="https://www.iconbunny.com/icons/media/catalog/product/1/4/140.9-school-bus-icon-iconbunny.jpg" alt="" width"30" height="24" /><strong>LocalBus</strong>
                        </a>
                    </li>

                    <li class="nav-item" style="margin-top:9px">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Team</a>
                    <li class="nav-item">


                    </li>

                    <li class="nav-item" style="margin-top:9px">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Aluno" asp-action="Index"> Aluno</a>
                    </li>



                    <li class="navbar-collapse flex-sm-row-reverse nav-link text-dark">
                        @await Html.PartialAsync("_LoginPartial")
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <header>
        <style>
            #menu__toggle {
                opacity: 0;
            }

                #menu__toggle:checked + .menu__btn > span {
                    transform: rotate(45deg);
                }

                    #menu__toggle:checked + .menu__btn > span::before {
                        top: 0;
                        transform: rotate(0deg);
                    }

                    #menu__toggle:checked + .menu__btn > span::after {
                        top: 0;
                        transform: rotate(90deg);
                    }

                #menu__toggle:checked ~ .menu__box {
                    left: 0 !important;
                }

            .menu__btn {
                position: fixed;
                top: 20px;
                left: 34px;
                width: 26px;
                height: 26px;
                cursor: pointer;
                z-index: 1;
                margin-top:70px;
            }

                .menu__btn > span,
                .menu__btn > span::before,
                .menu__btn > span::after {
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: #8B008B;
                    transition-duration: .25s;
                }

                    .menu__btn > span::before {
                        content: '';
                        top: -8px;
                    }

                    .menu__btn > span::after {
                        content: '';
                        top: 8px;
                    }

            .menu__box {
                display: block;
                position: fixed;
                top: 0;
                left: -22.65%;
                width: 300px;
                height: 100%;
                margin: 73px;
                padding: 80px 0;
                list-style: none;
                background-color: #BA55D3;
                box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
                transition-duration: .50s;
            }

            .menu__item {
                display: block;
                padding: 12px 24px;
                color: #333;
                font-family: 'Roboto', sans-serif;
                font-size: 20px;
                font-weight: 600;
                text-decoration: none;
                transition-duration: .25s;
            }

                .menu__item:hover {
                    background-color: #CFD8DC;
                }

        </style>


        <div class="hamburger-menu">
            <input id="menu__toggle" type="checkbox" />
            <label class="menu__btn" for="menu__toggle">
                <span></span>
            </label>

            <ul class="menu__box">
                <li><a class="menu__item" href="#">Perfil</a></li>
                <li><a class="menu__item" href="#">Adicionar Ponto</a></li>
                <li><a class="menu__item" href="#">Remover Ponto</a></li>
            </ul>
        </div>

    </header>

    <div>
        @RenderBody()
    </div>
</body>
</html>
