

#menu {
    z-index: 2;
}

#menu-bar {
    cursor: pointer;
}


.nav {
    transition: 0.3s ease;
    display: none;
}
.nav .Usuario{
    font-size:35px;
    color:#fff
}

.nav ul {
    padding: 23px;
}

    .nav li {
        list-style: none;
        padding: 5px 0;

    }

        .nav li a {
            color: #000000;
            font-size: 20px;
            text-decoration: none;
            
        }

            .nav li a:hover {
                color:aliceblue;
            }
            
.menu-bg, #menu {
    position:absolute ;
}

.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0px 0px 30px;
    background: radial-gradient(circle, #8a2be2da, #18192aa7);
    border-radius: 30%;
    transition: 0.20s ease;
}

.change {
    display: block;
}

    .change .bar {
        background-color: #ffd800;
    }

    .change #bar1 {
        transform: translateY(60px) rotateZ(-145deg);
    }

    .change #bar2 {
        opacity: 90%;
    }

    .change #bar3 {
        transform: translateY(-60px) rotateZ(95deg);
    }

.change-bg {
    width: 220px;
    height: 195px;
    transform: translate(-27%,-10%);
}
