

#menu {
    z-index: 2;
}

#menu-bar {
    cursor: pointer;
}



.nav {
    transition: 0.3s ease;
    display: none;

}

    .nav ul {
        padding:  23px;
    }

    .nav li {
        list-style: none;
        padding: 5px 0;
    }

        .nav li a {
            color: white;
            font-size: 20px;
            text-decoration: none;
        }

            .nav li a:hover {
                font-weight: bold;
            }
            
.menu-bg, #menu {
    position:absolute ;
}

.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0px 0px 50px;
    background: radial-gradient(circle, #8A2BE2, #2A1226);
    border-radius: 90%;
    transition: 0.70s ease;
}

.change {
    display: block;
}

    .change .bar {
        background-color: white;
    }

    .change #bar1 {
        transform: translateY(10px) rotateZ(-145deg);
    }

    .change #bar2 {
        opacity: 20;
    }

    .change #bar3 {
        transform: translateY(-6px) rotateZ(45deg);
    }

.change-bg {
    width: 720px;
    height: 795px;
    transform: translate(-17%,-40%);
}
