.borda{
    border: 2px solid #000000 ;
}
.container-flex{
    margin-top:-20px;
    max-width: 100%;
    height:992px;
    border: 2px solid #000000;
    display:flex;
    background: #7E50C0;
}

.img {
    width: 550px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    margin-bottom: auto;
    display: block;
    border: 2px solid #000000;
}
.textoapresentacao{
    display:block;
}
    .textoapresentacao h1 {
        margin-left:auto;
        text-align: start;
        margin-top: 50px;
        color: #000000;
        border: 2px solid #000000;
        max-width: 50%;
        background-color:#0FE2E6
    }
    .textoapresentacao p {
        background-color:#FE6C00;
        margin-left: auto;
        max-width: 300px;
        color: white;
        border: 2px solid #000000;
    }


.body {
    overflow-y: hidden;
}

#menu__toggle {
    opacity: 0;
}

    #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
    }

        #menu__toggle:checked + .menu__btn > span::before {
            top: 0;
            transform: rotate(0deg);
        }

        #menu__toggle:checked + .menu__btn > span::after {
            top: 0;
            transform: rotate(90deg);
        }

    #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
    }

.menu__btn {
    position: fixed;
    left: 12px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 13;
    margin-top: 35px;
}

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #000000;
        transition-duration: .25s;
    }

        .menu__btn > span::before {
            content: '';
            top: -8px;
        }

        .menu__btn > span::after {
            content: '';
            top: 8px;
        }

.menu__box {
    margin-top: -300px;
    position:fixed;
    left: -200px;
    width: 150px;
    height: 100%;
    margin: 50px;
    list-style: none;
    background-color: #cc0091cc;
    box-shadow: 1px 1px 25px rgb(254, 1, 211);
    transition-duration: .50s;
}
.barrinha {
    position: relative;
    color: #fff;
    text-decoration: none;
}

    .barrinha:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: #7E50C0;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    .barrinha:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

.menu__item {
    padding:5px;
    margin-top:15px;
    position: fixed;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

    .menu__item:hover {
        color: white;
    }
