.meucontainer {
    width: 100%;
    height: 100%;
    background-color: rgba(74, 237, 248, 0.82);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "l"
        "f";
    justify-content:center;
    grid-gap:20px 10px;
}
.rodape{
    grid-area:f;
    height:100px;
    background:#18192A;
    width:100%;
}
.cores:hover{
    color:#67fcff;
}
.botaoleft {
    padding:5px;
    background: rgba(74, 237, 248, 0.82);
    width:100%;
    text-align:center;
}
.cordobotao {
    background: #2c2c2c;

}


.containerlefth {
    text-align:center;
    margin: 0 auto;
    width: 400px;
    height: 65vh;
    background-color: white;
    display: grid;
    grid-template-areas: "l l";
    grid-gap: 10px;
    grid-area:l;
    border-radius:5%;
}

.itemslefth1 {
    height: 150px;
    grid-area: l;
    color: white;
    padding: 5px;
    margin: 0px;
 
}

    .itemslefth1 h1 {
        background-color: #E46626;
        padding: 20px;
        border-radius: 20px;
    }

    .itemslefth1 p {
   
        font-size: 13px;
        text-align: center;
        padding: -5px;
        background-color: white;
        color: black;
        border-radius: 20px;
        
    }


.itemslefth2 {
    padding: 5px;
    margin: 0 auto;
    width: 110px;
    height: 150px;
    grid-row-start: 2;
    grid-row-end: 2;
    box-shadow: 5px 5px 6px rgba(74, 237, 248, 0.82);
    border-radius: 20%;
    border: 10px solid transparent;
    background:black;
}

    .itemslefth2 img {
        width: 100%;
        height: 50%;
        border-radius: 20px;
        padding: 4px;
        cursor: pointer;
    }

    .itemslefth2:hover {
        background-color: rgb(239, 135, 248, 0,67);
        -webkit-filter: drop-shadow(4px 4px 10px #0FE2E6);
        transition: all 0.5s;
        box-shadow: 5px 5px 6px #f000fe;
    }

    .itemslefth2:active {
        box-shadow: 5px 5px 20px #000;
    }

    .itemslefth2 img:hover {
        transform: scale(1.1);
        transition: transform .5s ease;
    }

    .itemslefth2 img:active {
       
        box-shadow: 5px 5px 20px #000;
       
    }


    .itemslefth2 p:hover {
        color: rgb(255, 255, 255);
    }

    .itemslefth2 p {
        font-size:10px;
        border-radius: 20%;
        padding: 5px;
        margin: 0 auto;
        word-wrap: break-word;
        height: 55px;
        width:70px;
        border: 2px solid rgba(74, 237, 248, 0.82);
        color: white;
      
    }



   
      


