
<section onload="GetMap()">
   
      <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-6">
                     <div class="container text-center">
        <div class="row">
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" role="button"
                   id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Escolas</a>
                <ul class="dropdown-menu">
                    @foreach (var item in Model.NomesDasEscolas)
                    {
                        <li>
                            <a class="dropdown-item" asp-controller="MapAluno" asp-area="Usuario" asp-action="Index" style="color:black"
                           asp-route-IdEscola="@item.EscolaId">@item.NomeEscola </a>
                        </li>
                    }

                    <li class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" asp-controller="Aluno" asp-action="Index" asp-route-IdEscola="0"
                           style="color:black">Todas as Escolas</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
                    <img class="img-fluid mb-4 mb-lg-0" src="img/about.jpg" alt="">
                </div>
                <div class="col-lg-6">
                     <div id="myMap" style="position:relative;width:500px;height:500px;" class="text-center"></div>
                    <a href="" class="btn btn-primary text-uppercase py-3 px-5">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>

