@model RegistroViewModel

<section class="bg-dark">
    <div class="container py-4 ">
        <div class="row d-flex justify-content-center align-items-center">
                <div class="card card-registration my-3">
                    <div class="row">
                        <div class="col-md-6 ">
                            <img src="~/Images/Leyout/bus 450.jpg "alt="Logo"  />
                        </div>
                        <div class="col-md-6">
                            <div class="card-body p-md-5 text-black">
                                <h3 class="mb-5 text-uppercase">Registre sua escola</h3>
                                <form asp-controller="Account" asp-action="Registro" method="post">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" for="form3Example1m">Username</label>
                                                <input asp-for="UserName" class="form-control form-control-lg" placeholder="Username" id="UserName" />
                                                <span asp-validation-for="UserName" class="text-danger "></span>

                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" for="form3Example1n">Password</label>
                                                <input asp-for="Password" class="form-control form-control-lg" id="Password" />
                                                <span asp-validation-for="Password" class="text-danger"></span>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" for="form3Example1m">Nome da Escola</label>
                                                <input asp-for="NomedaEscola" class="form-control form-control-lg" placeholder="Ex: ETEC Comendador João Rayz" id="Nome" />
                                                <span asp-validation-for="NomedaEscola" class="text-danger "></span>

                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" for="form3Example1n">Telefone</label>
                                                <input asp-for="TelefonedaEscola" class="form-control form-control-lg" placeholder=(xx)-(xxxxx-xxxx) id="Tell" />
                                                <span asp-validation-for="TelefonedaEscola" class="text-danger"></span>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" for="form3Example1m1">Email</label>
                                                <input asp-for="Email" class="form-control form-control-lg " placeholder="exemple@gmail.com" id="email" />
                                                <span asp-validation-for="Email" class="text-danger"> </span>

                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label" for="form3Example1n1">Codigo da Etec</label>
                                                <input asp-for="CodigoEtec" class="form-control form-control-lg" placeholder="exemple: 245" id="Codigo" />
                                                <span asp-validation-for="CodigoEtec" class="text-danger"></span>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex justify-content-end pt-3">
                                        <button onclick="limpageral()" type="button" class="btn btn-light btn-lg">Limpar</button>
                                        <button type="submit" class="btn btn-warning btn-lg ms-2">Registrar</button>
                                    </div>

                                </form>
                            </div>
                            <script>
                                function limpageral(){
                                    document.getElementById('UserName').value = ""
                                    document.getElementById('Password').value = ""
                                    document.getElementById('Nome').value = ""
                                    document.getElementById('Tell').value = ""
                                    document.getElementById('email').value = ""
                                    document.getElementById('Codigo').value = ""

                                }
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>