<!DOCTYPE html>

<html>
<head class="Barrahorizontal">
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with LeadMark landing page.">
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css2/leadmark.css" />
    <link rel="stylesheet" href="~/css/MenuAdmin.css" />
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home" class="Barrahorizontal">
    <nav class="navbar navbar-expand-md  bg-white border-bottom-0 box-shadow mb-0">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/Images/Leyout/bus.png" alt="Logo" />
            </a>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Pagina Inicial</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Usuario" asp-controller="Aluno" asp-action="Index"> Aluno</a>
                    </li>
                    <li class="nav-item">
                        @await Html.PartialAsync("_LoginPartial")
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    <header class="overlay">
    <input id="menu__toggle" type="checkbox" />
    <label class="menu__btn" for="menu__toggle">
        <span></span>
    </label>
        <ul class="menu__box">
        <li><a class="menu__item" asp-area="Administrador" asp-action="Index" asp-controller="AdminPontos"> Adicionar novo Ponto</a></li>
    </ul>
    </header>

    <div>
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
